.body{
    color: #626262 ;
    font-size: 14px;
    box-sizing: border-box;
    
}
.container{
   max-width:900px;
    margin: 0 auto;
}
/* Header */
.header{
    padding: 77px 0px 105px 0px;
}
.header__list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.header__item{
    margin-right: 135px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
.header__item:last-child{
    margin-right: 0px;
}
.header__link{
    text-decoration: none;
    color: #626262;
}
.header__link:hover{
    color: #03a9f4;
}
/* Main */
.content{
    margin-bottom: 70px;
}
.content__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
}
.content__item{
    text-align: left;
    width: 420px;
}
.content__img{
    margin-bottom: 30px;
}
.content__name{
    margin-bottom: 30px;
    color: #b4ad9e;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}
.content__title{
    margin-bottom: 45px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}
.content__subtitle{
    margin-bottom: 130px;
    font-family: 'Playfair Display', serif;
}
.content__wrapper{
    text-align: center;
}
.btn{
    padding: 15px 30px 15px 30px;
    color:#626262 ;
    border: 1px solid #626262;
    background: white;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}